
<style>
    .example-wrapper { margin: 1em auto; width: auto; font: 18px/1.5 sans-serif; }
    .example-wrapper code { }
    .container { width: 50%; float: left;}
    img { width: 100%; }
</style>

<div class="example-wrapper">
  <div class="container left">
    <img src="{{ path('serve_private_image', {'filename': fileName }) }}" alt="{{ fileName }}">
  </div>
  <div class="container right">
    <h1>asd</h1>
  </div>
</div>