
{% extends "base.html.twig" %}

{% block body %}
  <div class="wrapper">
    <div class="container left">
      <img src="{{ path('serve_image', {'filename': fileName, 'folder': folder }) }}" alt="{{ fileName }}">
    </div>
    <div class="container right">
      <div class="content-wrapper">
        <div>
          {% include ['@text-templates/' ~ folder ~ '.html.twig', '@text-templates/default.html.twig']  %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}